@media screen and (min-width: 428px) {
    .container{
        max-width: 396px;
    }
}
@media screen and (min-width: 768px) {
    .container {
        max-width: 738px;
    }
    .section-credo{
        padding-top: 96px;
        padding-bottom: 96px;
    }
    .section-list{
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 24px;
        flex-direction: row;
        
    }
    .list-item{
    width: calc((100% - 24px) / 2);
    margin-bottom: 72px;
    max-width: 356px;
    }




}




