
/* ----------Mobile--------------- */

@media screen and (min-width: 428px) {
    .container{
        max-width: 426px;
      
    }
    .phone-nomber{
        max-width: 418px;
        font-size: 36px;
    }
    .mob-social-list {
       justify-content: left;     
       gap: 56px;
     }
}  

/* ------------Tablet---------------- */


@media screen and (min-width: 768px) {
    .container {
        max-width: 766px;
        
    }
    .current::after {
        position: absolute;
        content: "";
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background: var(--ocean);
        color: var(--ocean);
        bottom: -1px;
        left: 0;
    
    }
    
        .link-nav.current {
            position: relative;
            color: var(--ocean);
        }
    
       
        .site-nav {
            display: flex;
            gap: 40px;
            margin-right: 121px;
        }
    
        .list-nav {}
    
        .link-nav {
    
            padding: 24px 0;
            display: block;
            color: var(--navy-blue);
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
            font-size: 16px;
            font-weight: 500;
            line-height: 1.5;
            letter-spacing: 0.02em
        }
    
        .link-nav:hover,
        .link-nav:focus {
            color: var(--ocean);
        }
    
    .link-nav:active {
        text-decoration: underline;
        }
     
    .contacts {
        font-style: normal;
        display: flex;
        }
    
    .contacts-item {
        gap: 40px;
    
        }
    
        .contact-link {
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
            
        }
        
        .contacts-item .contact-link {
            color: var(--slate);
            font-size: 12px;
            letter-spacing: 0.04em;
            font-style: normal;
            font-weight: 400;
            line-height: 1.16;
            display: block;   
        }
    
        .contact-link:active,
        .contact-link:hover,
        .contact-link:focus {
            color: var(--ocean);
        }
    .menu-hamburger-btn{
        display: none;
    }
    .hero-section{
    padding: 112px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)), url(../images/herotab1.jpg);
    max-width: 768px;            
    }
     @media (min-device-pixel-ratio: 2),
     (min-resolution: 192dpi),
     (min-resolution: 2dppx) {
       .hero-section {
         background-image: linear-gradient(rgba(46, 47, 66, 0.7),
         rgba(46, 47, 66, 0.7)), url(../images/herotab2x.jpg);
        max-width: 768px;
        }
    }
    .hero-title{
    font-size: 56px;
    line-height: 1.07;
    margin-bottom: 36px;
    max-width: 496px
    }

    .section-credo{
        padding-top: 96px;
        padding-bottom: 96px;
    }
    .section-list{
        
         width: 100%;
        gap: 72px 24px;
        flex-direction: row;
        flex-wrap: wrap;
        
    }
    .list-item{
    width: calc((100% - 24px) / 2);
     max-width: 356px;
    }

    .list-title{
        text-align: left;
    }
    .list-title-team{
        text-align: center;
        margin-bottom: 8px;
    }
    .section-list-team{
        gap: 64px 24px;
    }
    .list-team{
    width: calc((100% - 24px) / 2);
    max-width: 264px;
    }

    .customers-list{
    gap: 72px 24px;
    justify-content: center;
    }
    .customers-item{
    width: calc((100% - 48px) / 3);
    max-width: 168px;
    }
    
    .soc-foot{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: baseline;
        max-width: 582px;
    }
    .footer-group{
        margin-right: 24px;
    }
    .footer-box{
        
    }
    .footer-subscription{
        flex-direction: row;
        gap: 24px;
    }
    .footer-box-title{
        justify-content: left;
    }
    .input-footer{
        width: 264px;
    }
    .footer-button{
        margin: 0;
        height: 40px;
    }
     .modal-window{
        width: 408px;
        padding: 72px 24px 24px 24px;
    }
}
   



/* --------------desctop--------------------- */


@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        
    }
    .contacts-item{
    display: flex;
        gap: 40px;
        }
    .contacts-item .contact-link {
        color:var(--slate);
        font-size: 16px;
        font-style: normal;
         font-weight: 400;
         line-height: 1.5;
         letter-spacing: 0.02em;
        
    }
    .hero-section {
    padding: 188px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                    rgba(46, 47, 66, 0.7)), url(../images/herodesctop1.jpg);
    max-width: 1440px;
    }
        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            .hero-section {
                background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                        rgba(46, 47, 66, 0.7)), url(../images/herodesctop2x.jpg);
                max-width: 1440px;
            }
        }
    .hero-title {
        font-size: 56px;
        line-height: 1.07;
        margin-bottom: 48px;
        max-width: 496px
        }
    .section-credo {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .section-list {

        width: 100%;
        gap: 24px;
       
    }

    .list-item {
        width: calc((100% - 24px * 3) / 4);
        
    }

    .list-title {
        text-align: left;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
       
    }
    .list-text{
        font-weight: 400;
    }  
    .icon-box {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 264px;
            height: 112px;
            border-radius: 4px;
            background: var(--cloud);
            margin-bottom: 8px;
            
        }

     .section-work{
        display: block;
        
     }
     .section-team{
        padding: 120px 0;
     }
     .list-team{
        width: calc((100% - 72px) / 4);
     }
     .customers{
      padding: 120px 0;
     }
     .customers-list{
        display: flex;
         gap: 24px;
     }
    .customers-item{
        width: calc((100% - 24px * 5) / 6);
        max-width: 168px;
    }
    .footer{
        display: flex;
        padding: 100px 0;
    }
     .soc-foot{
        flex-direction: row;
        flex-wrap: wrap;
        
     }
    .footer-group{
        margin-right: 120px;
        margin-bottom: 0;
    }
    .footer-box{
      width: 453px;
      margin-left: 80px;
     }
    .logo-footer{
        justify-content: left;
    }
    .footer-text{
    max-width: 264px;
    }
    .social-section{
        margin-bottom: 0;
    }
    .media-title{
        justify-content: left;
    }
    .input-footer{
        box-shadow: box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
        opacity: 1;
    }
    .modal-window {
        width: 408px;
            padding: 72px 24px 24px 24px;
        
     }
}


